* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 9;
  -webkit-box-shadow: 1px 1px 6px #999;
          box-shadow: 1px 1px 6px #999;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .header .navigation {
    padding: 10px 35px;
  }
}

@media (min-width: 1024px) {
  .header .navigation {
    width: 85%;
    margin: 0 auto;
  }
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  color: #3eba61;
}

@media (min-width: 768px) {
  .logo {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 40px;
  }
}

.second {
  font-size: 25px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  font-style: italic;
}

.btn_burger {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  outline: none;
  position: relative;
  -webkit-transition: 200ms cubic-bezier(0.31, 0.76, 1, 0.94) 200ms;
  transition: 200ms cubic-bezier(0.31, 0.76, 1, 0.94) 200ms;
  z-index: 9;
  margin: auto 0;
}

@media (min-width: 1024px) {
  .btn_burger {
    display: none;
  }
}

.btn_burger svg {
  width: 35px;
  height: 35px;
  fill: #333;
}

@media (min-width: 768px) {
  .btn_burger svg {
    width: 40px;
    height: 40px;
  }
}

.btn_burger:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu {
  background: rgba(235, 106, 45, 0.8);
  position: absolute;
  padding-top: 70px;
  top: 0px;
  right: 0px;
  border-radius: 40px 0px 40px 5px;
  -webkit-box-shadow: 10px 7px 10px #333;
          box-shadow: 10px 7px 10px #333;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 800ms;
  transition: 800ms;
}

@media (min-width: 1024px) {
  .menu {
    opacity: 1;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 530px;
    position: initial;
    pointer-events: initial;
    visibility: visible;
    -webkit-transition: initial;
    transition: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85px;
  }
}

.menu li {
  padding: 5px 40px 5px 40px;
}

@media (min-width: 1024px) {
  .menu li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 7px 14px;
    -webkit-transition: 200ms ease-in 200ms;
    transition: 200ms ease-in 200ms;
  }
  .menu li:hover {
    border: 2px solid #c7e4f5;
    color: #87c8ee;
  }
}

.menu li a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #333;
}

.menu li:last-child {
  padding-bottom: 30px;
}

@media (min-width: 1024px) {
  .menu li:last-child {
    padding: 7px 14px;
  }
}

.btn_burger:focus + .menu {
  right: 0;
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.first_section {
  background-color: #e1f4ff;
  min-width: 100vw;
  padding: 100px 5px 25px;
}

@media (min-width: 768px) {
  .first_section {
    padding: 100px 15px 25px;
  }
}

.first_section .wrapper10 h2 {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #555;
  text-align: center;
  margin-bottom: 10px;
  width: 339px;
}

@media (min-width: 1024px) {
  .first_section .wrapper10 h2 {
    font-size: 40px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .first_section .wrapper10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.first_section .flora_plus_img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .first_section .flora_plus_img {
    width: 45%;
  }
}

.first_section .first_section_text {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .first_section .first_section_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.first_section .first_section_text p {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 20px 0px 20px 70px;
  color: #333;
}

@media (min-width: 768px) {
  .first_section .first_section_text p {
    width: 31%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .first_section .first_section_text p {
    font-size: 23px;
  }
}

.first_section .first_section_text .text1 {
  background: url(../img/one-2.png) left no-repeat;
}

.first_section .first_section_text .text2 {
  background: url(../img/two.png) left no-repeat;
}

.first_section .first_section_text .text3 {
  background: url(../img/three.png) left no-repeat;
}

.first_section .first_section_text .text4 {
  background: url(../img/four.png) left no-repeat;
}

.first_section .first_section_text .text5 {
  background: url(../img/five.png) left no-repeat;
}

.pulse,
.btn_img,
.btn_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn_text {
  opacity: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.pulse {
  position: fixed;
  top: 85%;
  left: 75%;
  width: 75px;
  height: 75px;
  background-color: #eb6a2d;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .pulse {
    top: 85%;
    left: 85%;
  }
}

.pulse::before,
.pulse::after {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  bottom: -20px;
  right: -20px;
  border: 1px solid #eb6a2d;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation-name: pulse-btn;
          animation-name: pulse-btn;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.pulse::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes pulse-btn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse-btn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

.btn_text,
.btn_img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pulse:hover .btn_img {
  opacity: 0;
}

.pulse:hover .btn_text {
  opacity: 1;
}

.dfgh {
  width: 100vw;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .dfgh {
    padding: 0px 30px;
  }
}

.dfgh h2 {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 20px;
  padding-top: 95px;
}

@media (min-width: 768px) {
  .dfgh h2 {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .dfgh h2 {
    font-size: 40px;
  }
}

.dfgh h3 {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  color: #444;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .dfgh h3 {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .dfgh h3 {
    font-size: 25px;
  }
}

.dfgh p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  -webkit-columns: #333;
          columns: #333;
  padding: 5px 0px 5px 20px;
  position: relative;
}

.dfgh p::before {
  content: "~";
  display: block;
  position: absolute;
  left: 0;
}

@media (min-width: 1024px) {
  .dfgh p {
    font-size: 25px;
  }
}

.dfgh .titl34 {
  padding-top: 0;
}

.card_wrapper {
  padding-top: 95px;
}

@media (min-width: 768px) {
  .wrapper15 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.dfgh_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  padding: 3px;
  width: 98%;
  -webkit-box-shadow: 5px 5px 10px #777;
          box-shadow: 5px 5px 10px #777;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .dfgh_card {
    width: 48%;
  }
}

.dfgh_card p {
  width: 35%;
  text-align: center;
}

@media (min-width: 768px) {
  .dfgh_card p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.dfgh_card img {
  display: block;
  width: 60%;
  border-radius: 5px;
}

.wrapper6 {
  padding-top: 95px;
}

.why_we {
  width: 95%;
  background: rgba(232, 242, 247, 0.863);
  -webkit-box-shadow: 5px 5px 10px #333;
          box-shadow: 5px 5px 10px #333;
  margin: 0 auto 30px;
  border-radius: 5px;
  padding: 15px;
}

@media (min-width: 768px) {
  .why_we {
    padding: 25px;
  }
}

.why_we h2 {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 20px;
}

@media (min-width: 1024px) {
  .why_we h2 {
    font-size: 45px;
  }
}

.why_we p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: left;
  color: #333;
}

@media (min-width: 1024px) {
  .why_we p {
    font-size: 25px;
  }
}

.statement {
  background: whitesmoke;
  width: 90%;
  margin: 20px auto 30px;
  padding: 20px 10px;
  -webkit-box-shadow: 1px 1px 6px #5555;
          box-shadow: 1px 1px 6px #5555;
  border-radius: 3px 50px;
}

.statement h2 {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  color: #555;
  font-style: italic;
  text-align: center;
}

@media (min-width: 1024px) {
  .statement h2 {
    font-size: 29px;
  }
}

.footer {
  width: 100vw;
  background-color: #555;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 45px;
  color: #333;
  padding: 10px;
}

@media (min-width: 768px) {
  .footer p {
    font-size: 53px;
  }
}

@media (min-width: 768px) {
  .footer p {
    font-size: 63px;
  }
}

.addresses_wrapper {
  background-color: #555;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addresses_wrapper div {
  width: 45%;
}

@media (min-width: 768px) {
  .addresses_wrapper div {
    width: 47%;
  }
}

.addresses_wrapper div h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff;
}

@media (min-width: 1024px) {
  .addresses_wrapper div h4 {
    font-size: 23px;
  }
}

.addresses_wrapper div p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 13px;
  font-style: italic;
}

@media (min-width: 1024px) {
  .addresses_wrapper div p {
    font-size: 20px;
  }
}

.address_div {
  padding: 10px 20px 40px 10px;
}

.address_div h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff;
}

@media (min-width: 1024px) {
  .address_div h4 {
    font-size: 23px;
  }
}

.address_div p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 13px;
  font-style: italic;
}

@media (min-width: 1024px) {
  .address_div p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */